.leaflet-popup-content {
	width: fit-content !important;
	font: 14px/16px Arial, Helvetica, sans-serif;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,i0.2);
	border-radius: 5px;
}

.info h3 {
	margin: 0 0 5px;
	color: #777;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.leaflet-popup  h4 {
	color: #777;
	margin: 0 0 5px;
}
